

<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hola <%= @lawyer.full_name %></h3>
  <p>
    La siguiente escritura vencerá dentro de poco: <%= @deed.identifier %><br>
  </p>

  <p>Muchas gracias y buen día!</p>
  </body>
</html>