<h1 class="text-center">Editar escritura</h1>

<%= render 'form', deed: @deed %>

</br>
<div class="container text-center">
<%= link_to 'Mostrar', @deed, class: "btn btn-dark" if false%>
<%= link_to 'Atrás', deeds_path, class: "btn btn-dark" %>
</div>
