// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.thumbnail {
  position: relative;
  text-align: center;
}

.over-text {
  position: absolute;
  top: 30%;
  right: 25%;
  color: white;
  text-align: center;
  font-size: 250%;
  font-weight: bold;
}
